.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 5px 10px;
}
.tabs .tab2{
    text-align: center;
}
.tabs .tab2::after{
content: "";
width: 150px;
height: 2px;
background-color: #37436C;
display: block;
}

.watch-live h1{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 42px;
padding-left: 10px;

}


.lattestsermon{
    background-image: url(../../images/ser.png);
    height: 316px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
  
    background-size: cover;
    display: flex;
    color: white;
  
 
   
}

.lattestsermon h1{
    display: flex;
    align-self: flex-end;
    margin-right: auto;
    padding: 10px;
    font-size: 24px;
line-height: 28px;
}

.lattestsermon h2{
    display: flex;
    align-self: flex-start;
    justify-self:left;
    margin-left: auto;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 2px;
    padding: 6px 14px 6px 14px;
    background: #FB0606;
border-radius: 20px;
line-height: 20px;
text-align: center;
}

.PopularSermons h1{
    font-size: 36px;
    padding: 10px;
}

.PopularSermons{
   
}


.owl-carousel .owl-item img {
    width: 10px !important;
    height: 197px;
    border-radius: 10px !important;
    padding: 740px !important;
    margin: 0 !important;
}

.PopularSermons .postimg{
    width: 275px !important;
    height: 190px;
    padding: 10px 10px 0px 5px;
  }
  



.PopularSermons .posttitl{
    padding: 5px 5px 0 10px;
font-weight: 900;
font-size: 20px;
line-height: 14px;
display: flex !important;
width: 100vw;
margin-bottom: 0;
}

.PopularSermons .postauto{
    padding: 1px 5px 0px 10px;
font-weight: 400;
font-size: 16px;
line-height: 14px;
display: flex !important;
width: 100vw;
margin-top: 5px;
}

.recents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recents .r-img{
    width: 131px;
    height: 114px;
    border-radius: 5px;
    padding: 10px;
    background-size: contain;
}

 .textzs h1{
    font-size: 18px;
    font-weight: 800;
    padding-bottom:0;
    margin-bottom:5px;
    padding-right: 5px;
  
    }

    .textzs h2{
        font-size: 16px;
        margin-top: 0;
        padding-top: 0;
        padding-right: 5px;
        }
    

    
    .recents .r-img{
        width: 300px;
        }
        
.poplarSermonHeader{
    padding: 0px 5px 0px 10px;
    margin: 2px 2px 2px 2px;
    font-size: 27px;
    line-height: 2;
}