/* body{
  width: 100vw;
  height: 100vh;
} */

.app{
  width: 100vw;
  height: 100vh;
}

.res{
  width:80vw;
  height: 70vh;
  background-color: #37436C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.owl-carousel .owl-item img {
  display: block;
  /* width: 100%; */
  width:136px !important ;
}

.res img{
  background-repeat: no-repeat;
  width:136px !important ;
  height: 233px;
}
.slideone{
  display: flex;
  flex-direction: column;
}
.slideone h1{
  color: #000000;
height: 32px;
width: 90vw;
font-size: 19px;
line-height: 16px;
display: flex;
justify-self: center;
align-self: center;
text-align: center;
padding: 10px 10px 10px 10px;
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Gotu', sans-serif; */
font-family: 'Satisfy', cursive;
font-weight: 500;
}

.skip{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px 20px 0px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.owl-carousel span {
  width:20px;
  height:20px;
  margin:5px 7px;
  background: #37436C !important;
  display:block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

.owl-carousel .active span {
  width:10px;
  height:10px;
  margin:5px 7px;
  background: rgb(195, 209, 253) !important;
  display:block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

.linkTo{
  text-decoration: none;
  color: black;
}